/* Style the tab */
.check-wrap {
  white-space: nowrap;
}

.search-results label {
  margin-right: 20px;
}
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px 20px 0;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 50px;
  }

  .page-results {
    margin-top: 30px;
  }

  .results {
    font-size: 0.9em;
  }


